# ------------------------------------------------------------------------------
# .gitignore: Files to keep out of source control
# ------------------------------------------------------------------------------

# Color Scheme caches
*.tmTheme.cache

# Last Runs
*.last-run
