# ------------------------------------------------------------------------------
# .gitignore: Files to keep out of source control
# ------------------------------------------------------------------------------

# Color Scheme caches
*.tmTheme.cache

# Package Control
Package Control.sublime-settings

# Last Runs
*.last-run
